<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelidiQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SelidiQ Logo" class="logo">
        <h1>SelidiQ</h1>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>

