{% extends 'base.html' %}

{% block title %}Create Student{% endblock %}

{% block content %}
<h1>Create Student</h1>
<form name="createStudentForm" onsubmit="return validateStudentForm()" action="/create_student" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="middle_names">Middle Names:</label>
    <input type="text" id="middle_names" name="middle_names"><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="preferred_learning_style">Preferred Learning Style:</label>
    <input type="text" id="preferred_learning_style" name="preferred_learning_style"><br>

    <label for="creativity_level">Creativity Level:</label>
    <input type="number" id="creativity_level" name="creativity_level" min="1" step="1"><br>

    <label for="critical_thinking_skill">Critical Thinking Skill:</label>
    <input type="number" id="critical_thinking_skill" name="critical_thinking_skill" min="1" step="1"><br>

    <div id="subjects">
        <h3>Subjects</h3>
        <div>
            <label>Subject Name: Math</label>
            <input type="number" name="math_score" min="0" step="1">
        </div>
        <div>
            <label>Subject Name: Art</label>
            <input type="number" name="art_score" min="0" step="1">
        </div>
        <div>
            <label>Subject Name: History</label>
            <input type="number" name="history_score" min="0" step="1">
        </div>
    </div>

    <button type="button" onclick="addSubjectField()">Add More Subjects</button><br><br>
    
    <input type="submit" value="Submit">
</form>
{% endblock %}

